

body {
    all: unset;
    --primary-hue: 275;
    --secondary-hue: 240;
    --primary-color: hsl(275, 100%, 15%);
    --primary-text-color: hsl(275, 100%, 77%);
    --primary-accent-color: hsl(275, 100%, 50%);
    --secondary-color: hsl(240, 100%, 15%);
    --secondary-text-color: hsl(240, 100%, 77%);
    --secondary-accent-color: hsl(240, 100%, 60%);
    --neon-purple: 
        0 0 5px hsl(275, 100%, 80%),
        0 0 10px hsl(275, 100%, 70%),
        0 0 14px hsl(275, 100%, 50%),
        0 0 18px hsl(275, 100%, 40%),
        0 0 22px hsl(275, 100%, 30%);
    box-sizing: border-box;
}

@keyframes  flicker{
    0%{text-shadow: 0px 0px 2px white,
    0 0 5px hsl(275, 100%, 80%),
    0 0 10px hsl(275, 100%, 70%),
    0 0 14px hsl(275, 100%, 50%),
    0 0 18px hsl(275, 100%, 40%),
    0 0 22px hsl(275, 100%, 30%);}
    3%{text-shadow: 0 0 0 var(--primary-color);}
    9%{text-shadow: 0 0 0 var(--primary-color);}
    12%{text-shadow: 0px 0px 2px white,
        0 0 5px hsl(275, 100%, 80%),
        0 0 10px hsl(275, 100%, 70%),
        0 0 14px hsl(275, 100%, 50%),
        0 0 18px hsl(275, 100%, 40%),
        0 0 22px hsl(275, 100%, 30%);}
    14%{text-shadow: 0 0 0 var(--primary-color);}
    16%{text-shadow: 0px 0px 2px white,
        0 0 5px hsl(275, 100%, 80%),
        0 0 10px hsl(275, 100%, 70%),
        0 0 14px hsl(275, 100%, 50%),
        0 0 18px hsl(275, 100%, 40%),
        0 0 22px hsl(275, 100%, 30%);}
    20%{text-shadow: 0 0 0 var(--primary-color);}
    25%{text-shadow: 0 0 0 var(--primary-color);}
    45%{text-shadow: 0px 0px 2px white,
        0 0 5px hsl(275, 100%, 80%),
        0 0 10px hsl(275, 100%, 70%),
        0 0 14px hsl(275, 100%, 50%),
        0 0 18px hsl(275, 100%, 40%),
        0 0 22px hsl(275, 100%, 30%);}
    99%{color: var(--primary-color); text-shadow: 0 0 0 var(--primary-color);}
    100%{text-shadow: 0px 0px 2px white,
        0 0 5px hsl(275, 100%, 80%),
        0 0 10px hsl(275, 100%, 70%),
        0 0 14px hsl(275, 100%, 50%),
        0 0 18px hsl(275, 100%, 40%),
        0 0 22px hsl(275, 100%, 30%);}
}